body{
    background-color: #84E1AD;
}
header {
    background: linear-gradient(to bottom, #37C878, #1A5C38);
    padding: 10px;
    margin: -10px;
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: #69e4a0;
}

main{
    background-color: white;
}
section{
    margin: 20px;
}